body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  font-size: 62.5%; /* 16px * 62.5 =10px = 1rem */
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

:root{
  height: 100%;
}
.grid-container{ 
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 5rem;
  height: 100%;   
}

.header{
  grid-area: header;
  background-color: #801100;
  display: flex;
  justify-content: space-between;
  }

.brand{
  color: white;
  font-size: 5rem;
  font-weight: bold;
  align-self: center;
}
.brand a{
  color: white;
}
.brand a:hover{
  color: #F37312;
}
.brand-image{
  height: 8rem;
  padding: 1rem
}
.header-link a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  align-content: center;
  align-items: center;
  align-self: center;
}

.header-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  align-self: center;
}
   
.main{
  grid-area: main;
  }
.footer{
  grid-area: footer;
  }
a {
  text-decoration: none;
}

a:hover{
  color: #801100;
}

/* Startseite */

.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem; 
  height: 50rem;
  border-bottom: .1rem #801100 solid;
}

.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-brand{
  font-size: 1.2rem;
  color: #808080;

}

.product-image{
  max-width: 34rem;
  max-height: 34rem;
}

.product-price{
  font-size: 2rem;
  font-weight: bold;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;    
}

.product-name a{
  font-size: 2rem;
  color: #5c0f03;
}
/*Product Details*/
.details{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.details-imgage{
  flex: 2 1 60rem;
}
.details-image img{
  max-width: 60rem;
  widows:  100%;
}
.details-info{
  list-style-type: none;
  flex: 1 1 30rem;
}
.details-action{
  flex: 1 1 30rem;
}

.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}
.details-info li, .details-action li{
  margin-bottom: 1rem;
  margin-left: 2rem;
  list-style-type: none;
  padding: 0;
}
.back-to-results{
  padding: 1rem;
}

.details-action{
  border: .1rem #801100 solid;
  border-width: 0.5rem;
  border-radius: 0.5rem;
  background-color: #c75847;  
  padding: 2rem;
}
.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}
.button{
  padding: 1rem;
  border: 0.2rem #801100 solid;
  background-color: #F37312;
  cursor: pointer;
  
}
.button:hover{
  border: .3rem #360700 solid;
}