<html>
                
                <head>
                    <meta charset="utf-8" />
                    <link rel="stylesheet" href="indexhtmltest.css">
                    <title>Rares für Bares | Webshop</title>
                </head>

                <body>
                    <div class="grid-container">
                        <div class="header">

                            <div class="brand">
                                Rares für Bares
                            </div>

                            <div class="header-link">
                                <a href="cart.html">Shopping Cart</a>
                            </div>

                        </div>                         
                        
                        <main class="main">
                            <div class="content">
                                <ul class="products">
                                    <li>
                                        <div class="product">
                                            <img class="product-image" src="D:\3_Webprogrammierung\Portfolioprojekt\webshop-edte\src\Components\Images\jetpack.jpg" alt="product"></img>
                                            <div class="product-name">
                                                <a href="Jetpack.html">Neues Jetpack</a>
                                            </div>
                                            <div class="product-description">Tolles Jetpack frisch aus USA</div>
                                            <div class="product-price">15000$</div>
                                        </div>
                                    </li>



                                    <li>
                                        <div class="product">
                                            <img class="product-image" src="D:\3_Webprogrammierung\Portfolioprojekt\webshop-edte\src\Components\Images\jetpack.jpg" alt="product"></img>
                                            <div class="product-name">
                                                <a href="Jetpack.html">Neues Jetpack</a>
                                            </div>
                                            <div class="product-description">Tolles Jetpack frisch aus USA</div>
                                            <div class="product-price">15000$</div>
                                        </div>
                                    </li><li>
                                        <div class="product">
                                            <img class="product-image" src="D:\3_Webprogrammierung\Portfolioprojekt\webshop-edte\src\Components\Images\jetpack.jpg" alt="product"></img>
                                            <div class="product-name">
                                                <a href="Jetpack.html">Neues Jetpack</a>
                                            </div>
                                            <div class="product-description">Tolles Jetpack frisch aus USA</div>
                                            <div class="product-price">15000$</div>
                                        </div>
                                    </li><li>
                                        <div class="product">
                                            <img class="product-image" src="D:\3_Webprogrammierung\Portfolioprojekt\webshop-edte\src\Components\Images\jetpack.jpg" alt="product"></img>
                                            <div class="product-name">
                                                <a href="Jetpack.html">Neues Jetpack</a>
                                            </div>
                                            <div class="product-description">Tolles Jetpack frisch aus USA</div>
                                            <div class="product-price">15000$</div>
                                        </div>
                                    </li><li>
                                        <div class="product">
                                            <img class="product-image" src="D:\3_Webprogrammierung\Portfolioprojekt\webshop-edte\src\Components\Images\jetpack.jpg" alt="product"></img>
                                            <div class="product-name">
                                                <a href="Jetpack.html">Neues Jetpack</a>
                                            </div>
                                            <div class="product-description">Tolles Jetpack frisch aus USA</div>
                                            <div class="product-price">15000$</div>
                                        </div>
                                    </li><li>
                                        <div class="product">
                                            <img class="product-image" src="D:\3_Webprogrammierung\Portfolioprojekt\webshop-edte\src\Components\Images\jetpack.jpg" alt="product"></img>
                                            <div class="product-name">
                                                <a href="Jetpack.html">Neues Jetpack</a>
                                            </div>
                                            <div class="product-description">Tolles Jetpack frisch aus USA</div>
                                            <div class="product-price">15000$</div>
                                        </div>
                                    </li>



                                    
                        </main>

                        <footer class="footer">All rights reserved &#169; 2021</footer>
                    </div>
                </body>

            </html>